</br>
<h1>Vous êtes sur le site du Club Privé</h1>
<p>Pour vous inscrire, vous pouvez cliquer <a href="/users/new">ici</a>.</p>
<p>Pour vous connecter, vous pouvez cliquer <a href="/sessions/new">ici</a>.</p>
