<h1>Ca y est, tu fais partie des membres privilégiés du Club privé !</h1></br>
<h5>Ici, tu vas découvrir les secrets du club super super super privé. Cette page est cachée à tous les internautes non connectés.</h5></br>
<p>Retour vers <a href="/sessions/<%= @current_user.id %>">Mon profil.</a></p>
<h5>Découvre toutes les personnes inscrites au Club Secret :</h5>
<p><%= @array_users %></p>
